.App {
  text-align: center;
}


.center {
  display: flex;
  justify-content: center;
}

.somecenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kini {
  display: flex;
  width: 100%;
}

.particles{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
